img{
    max-width: 80%;
    max-height: 5%;
    margin-top: 1%;
    margin-bottom:1%;
}
body{
    margin: 0 5% 5% 0;
    background-color: lightcoral;
}
iframe{
    text-align: center;
    border: 0;
    position: fixed;
    top: 0;
    width:100%;
    height:50px;
}
h3{
    margin-top: 50px;
    margin-left: 5%;
}
img{
    margin-top: 0px;
    max-width: 40%;
    max-height: 60%;
}
#osnovno, #detalji,#upiti,#noviUpit{
    margin-left: 5%;;
}
#tabela-detalji{
    margin:0 0 0 0 ;
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 20px;
}
#upiti-lista{
    list-style: none;
    margin-left: -40px;
}
.upit{
    width: 100%;
    border: solid 1px;
    margin-top: 1%;
    margin-bottom: 3%;
    margin-left: 0;
    padding-left: 0;
    padding: 1%;
    border-color: black;
    background-color: white;
}
