.lista{
    list-style: none;
    text-align: center;
}

.element{
    text-decoration: none;
    display: inline;
    color:blue;
    margin-right: 1%;
}
.element:hover{
    color:#ff9900;
}
body{
    background-color: lightcoral;
    text-align: left;
    margin: 0 0 0 0;
}

