body{
    margin: 0 0 0 0;
    background-color: lightcoral;
}
iframe{
    width:100%;
    height: 50px;
    border: 0;
    position: fixed;
    top: 0;
    margin: 0px 0px 5px 0px;
}
#pretraga{
    margin: 50px 20px 20px 20px;
}
h2{
    margin-top: 50px;
    margin-left: 20px;
}
.nekretnine-grid{
    display: grid;
    margin: 0 20px 20px 20px;
    grid-template-columns:  repeat(auto-fill, 300px); 
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}
.item{
    border: solid 1px;
    padding: 5%;
}
.stan-item{
    background-color: white;
}

.kuca-item{
    background-color: powderblue;
}
.pp-item{
    background-color: green;
}
.detalji-txt{
    text-align: left;
    font-size: medium;
}
.cijena{
    text-align: right;
    font-size: large;
}
.detalji-div{
    display: flex;
    justify-content: center;
    align-items: center;
}
.detalji-button{
    width:auto;
    text-align: center;
    font-size: medium;
    padding: 4%;
    background-color:#fdf1d3;
}
img{
    max-width: 100%;
    max-height: 50%;
}

.selektovana{
    grid-column: span 2;
    width:500px;
}

.pretraga{
    margin-left: 20px;
}