body{
    background-color: lightcoral;
    text-align: left;
}
iframe{
    margin: 0 0 0 0;
    text-align: center;
    border: 0;
    position: fixed;
    top: 0;
    width: 100%;
    height: 50px;
}
h2{
    margin-top: 50px;
    margin-left: 10%;
}

.polja{
    margin-left: 10%;

}

.button{
    margin-top: 15px;
}