body{
    margin: 20px 20px 20px 20px;
    text-align: center;
    align-content: center;
    background-color: lightgreen;
}
iframe{
    text-align: center;
    width: 100%; 
    height: 50px;
    display: block;
    border: 0;
    position: fixed;
    top: 0;
    align-self: center;
    margin: 0 0 2% 0;
}
h2{
    text-align: left;
    margin-top: 75px;
    margin-left: 10px;
    margin-bottom: 2%;
}
img{
    margin: 2% 0 5% 0%;
    float: left;
    background-color: #fdf1d3;
    max-height: 40%;
    max-width: 50%;
}
input{
    display:inline-block;
    vertical-align: top;
    height: 30px;
    width: 100%;
}
#detalji{
    margin: 0 0 0 0%;
    border-spacing: 25px;
    max-width:50%;
    text-align: left;
}
tr{
    height: 50px;
}

@media screen and (width < 500px) {
    #detalji{
        display:block;
    }
    input{
        width:max-content;
    }
    
}
@media screen and (width >= 500px) {
    #detalji{
        inset-inline-start: initial;
        max-width: 50%;
        margin-left: 5%;
    } 
    img{
        margin-right:5%;
    }  
}